*{
    padding:0;
    margin: 0;
}
.container{
    margin-top: 80px;
    border-radius: 30px;
}
/* navbar */
header{
}
.navbar{
    border-radius: 30px;
    font-size: larger;
}
.navbar-brand{
    font-weight: bolder;
}
/* Home */
section{
}
.col-sm{
}
.summary-box{
    border-radius: 30px;
    box-shadow: 0 0 5px black;
    width: 80%;
}
.btn{
    box-shadow: 0 0 5px;
}
.icon a{
    color: black;
}
.icon a:hover{
    color: gray;
}
.icon a i{
    text-shadow: 2px gray;
}
/* about me */
.experience-box{
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: -7px 0px 5px -5px #aaaaaa;
}
.experience-box .text{
    font-size: 1rem;
    font-weight: normal;
    vertical-align: middle;
}
/* My Skills */

.s-container {
    width: 100%; /* Full width */
    border: 2px solid black;
    border-radius: 30px;
}
.c-sharp {
    width: 100%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .c-plusplus {
    width: 100%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .c {
    width: 100%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .java {
    width: 90%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .java-script {
    width: 90%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .html-and-css {
    width: 99%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .swift {
    width: 60%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .python {
    width: 90%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .php {
    width: 85%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .power-shell {
    width: 90%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .sql{
    width: 90%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .dotnet {
    width: 99%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 .other-lang{
    width: 70%; background-color: black;
    border-radius: 30px;
    height: 15px;
 }
 /* Contact */
 .sect-contact{
    box-shadow: 0px -15px 20px -15px #aaaaaa;
 }
 .sect-contact p{
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
 }
 .sect-contact h2{
    vertical-align: middle;
    width: 250px;
 }
 .sect-contact .icon-size{
    font-size:60px;
 }
 .sect-contact .icon-size .fa-map{
    font-size: 53px;
 }
 .sect-contact .map iframe{
    border-radius: 30px;
    box-shadow: 0 0 5px black;
 }
 .sect-contact form{
    border-radius: 30px;
    box-shadow: 0 0 5px black;
    padding:30px;
 }
 .sect-contact .name{
    border-radius: 30px;
 }
 .sect-contact .email{
    border-radius: 30px;
 }
 .sect-contact .project{
    border-radius: 30px;
 }
 .sect-contact .message{
    border-radius: 30px;
    height: 300px;
 }
 /* footer */
 .footer{
    background-color: black;
    margin-left: -43px;
    margin-right: -43px;
    margin-bottom: -10px;
    border-radius: 30px;
 }
 .footer ul{
    font-size: 25px;
 }
 .footer .kei{
    font-size: 40px;
    font-weight: 900;
    color: white;
 }
 .footer .kei p{
    font-size: 1rem;
    font-weight: normal;
    color: white
 }
 .footer .icon-footer{
    font-size: 50px;
 }
 .footer a{
    color: white;
    margin:15px;
 }
 .footer a:hover{
    color: gray;
}
.footer .text-color{
    color: white;
    margin: 30px;
    margin-bottom: 50px;
}